<nav>
    <!--aquí fiquem totes les opciones que vulguem fer 
        amb el nostre fitxer de categories-->
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=product&option=form_add">Add product</a>
        </li>
        <li>
            <a href="index.php?menu=product&option=list_all">List products</a>
        </li>
        <li>
            <a href="index.php?menu=product&option=form_search">Search by ID</a>
        </li>

    </ul>
</nav>